@use "sass:map";
@import "../../style/pages/all.scss";

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;

}
.header_top{
    display: flex;
    margin: 0 120px;
    padding-top: 20px;
    align-items: center;    

}
.user {
    cursor: pointer;
    display: flex;
    align-items: cennter;
    gap:10px;

    .user_text{
        font-size: 15px;
        font-weight: 600;
    }
}

.contentPopup {
  cursor: pointer;
  &:hover {
    background-color: #f5f5f5;
    color: #000;             
  }
}

.avt-header {
    height:30px;;
    width:30px;
    border-radius:50%;
    object-fit:cover;
}

.menu_item {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    list-style: none;
    margin: 0;
    color: #0a4f58;
    font-weight: 500;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);

}

.menu_item_li {
    position: relative;
    cursor: pointer;
    padding: 12px 8px;
    margin-right: 12px;
    transition: color 0.2s ease;
    font-size: 16px;
}

.menu_item_li::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 24px);
    height: 2px;
    transition: width 0.3s ease;
}

.menu_item_li:hover::after {
    background-color: #0a4f58;
}

.menu_item_li.active::after {
     background-color: #0a4f58;
}