@use "sass:map";
@import "../../style/pages/all.scss";

.header_top{
    display: flex;
    padding-top: 20px;
    align-items: center;    
    background: rgb(255 255 255 / 73%);
    
}
.user {
    cursor: pointer;
    display: flex;
    align-items: cennter;
    gap:10px;

    .user_text{
        font-size: 15px;
        font-weight: 600;
    }
}

.contentPopup{
    cursor: pointer;
    &:hover {
        background-color: red;
        color: white;
    }
}

.avt-header {
    height:30px;;
    width:30px;
    border-radius:50%;
    object-fit:cover;
}