
.forgot_password_page {
    margin: 0 auto;
    margin-top: 20px;
    width: 500px;
    height: 450px;
    padding: 100px;
    border:1px solid #ccc;

    h2 {
        text-align: center;
        padding: 5px 0;
    }

    .info {
        display: flex;
        gap: 8px;
        margin-bottom: 20px; 
    }
}   