.custom-dropdown {
   margin-top: 20px !important;
   z-index: 100; 
}

.search-option {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #212121;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.2s ease;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        .search_right {
            .name {
                span {
                color: #1e90ff;
                text-decoration: underline;
                text-decoration-color: #1e90ff;
                }
                strong {
                    text-decoration: underline;
                    text-decoration-color: #1e90ff;
                }
            }
        }
    }

    .name {
      color: #212121; 
      strong {
        color: #B80F0A !important; 
        font-weight: bold;
      }
    }


    .search_right{
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;

        .price {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #000000;
        }
    }
    .search_left{
        img{
            max-width: 50px;
            height: auto;
        }
    }
}
