.admin_user {
    .title{
        color: #000;

    }

    .btn_add {
        height: 40px;
        width: 160px;
        border-radius: 6px;
        border-style: dashed;
        margin-bottom: 20px;
    }
}